
@{
    ViewBag.Title = "Novo";
}

<div class="jumbotron">
    <h3>Páginas</h3>
    <div>
        <a href="/paginas/" class="btn btn-default">Voltar</a>
    </div>
    <table class="table">
        <tr>
            <td>ID</td>
            <td>NOME</td>
            <td>DATA</td>
        </tr>
        @foreach (var p in pagina)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Nome</td>
                <td>@p.Data</td>
            </tr>
        }
    </table>
</div>

